/* Reset */
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
}

input, button{
    font: inherit;
}

:root{
    --primary-text: #0d6efd;
    --primary-bg: #031634;
    --secondary-text: #aeb1b6;
    --secondary-bg: #f0f8ff;
    --dark-text: #212429;
    --dark-bg: #191d20;
    --light-text: #f8f9fb;
    --light-bg: #7f7f7f;
    --danger-text: #dc3546;
    --danger-bg: #2b0b0e;
    --warning-text: #fec007;
    --warning-lor-bg: #332701;
    --success-text: #188754;
    --success-bg: #051a11;
    --info-text: #0dcaf0;
    --info-bg: #032830;

    --text-sm: 0.6rem;
    --text-md: 1rem;
    --text-lg: 1.5rem;
    --text-xl: 2rem;

    --border-radius: 5px;

    --box-shadow: var(--dark-bg) 1px 1px 5px 1px;

    --card-size-sm-w: 120px;
    --card-size-sm-h: 120px;
    --card-size-md-w: 320px;
    --card-size-md-h: 320px;
    --card-size-lg-w: 480px;
    --card-size-lg-h: 480px;
    --card-size-xl-w: 1080px;
    --card-size-xl-h: 1080px;
}   

/* Estilos */

body{
    background-color: var(--dark-text);
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    min-width: 100%;
    gap: 20px;
}

header, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    background-color: var(--primary-text);
    min-width: 100% ;
    color: var(--light-text);
    box-shadow: var(--box-shadow);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255n, 255, 0.2);
    max-width: var(--card-size-xl-w);
    color: var(--light-text);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    gap: 10px;
    margin: 10px;
}

.containerInput{
    display: flex;
    flex-direction: column;
}

.containerSerch{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}

input{
    border-radius: var(--border-radius);
    height: 40px;
    width: 200px;
    border: var(--dark-bg) 1px solid;
    cursor: pointer;
}

button{
    width: 150px;
    height: 40px;
    border-radius: var(--border-radius);
    border: solid var(--success-text);
    background-color: var(--success-text);
    color: var(--light-text);
    transition: 300ms;
}

button:hover{
    cursor: pointer;
    background-color: var(--light-text);
    color: var(--success-text);
    border: solid 2px;
}

/* CARD */
.container{
    width:var(--card-size-lg-w);
    max-width:95%;
}

.weather-card{

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.15);
    border-radius:25px;
    padding:35px;
    box-shadow:0 15px 45px rgba(0,0,0,.4);

}

.header{

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header h4{
    font-size:34px;
    font-weight:600;
}

.header p{
    color:var(--light-bg);
    margin-top:8px;
}
.containerMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon{
    font-size:90px;
    text-align: center;
}

.temperature{
    margin-top:30px;
    margin-bottom:40px;
}

.temperature h1{

    font-size:3rem;
    font-weight:bold;
}

.temperature span{
    font-size:var(--text-lg);
    color:#7dd3fc;
}

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.stat{
    background:rgba(255,255,255,.05);
    border-radius:18px;
    padding:10px;
    text-align:center;
    transition:.3s;
}

.stat:hover{
    transform:translateY(-5px);
    background:rgba(255,255,255,.12);
}

.stat h5{
    color:#94a3b8;
    margin-bottom:10px;
}

.stat p{
    font-size:13px;
    font-weight:bold;
}

.forecast{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:15px;
    justify-content: center;
    align-items: center;
}

.day-card{

    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.1);
    backdrop-filter:blur(10px);
    border-radius:18px;
    padding:18px;
    text-align:center;
    transition:.3s;
}

.day-card:hover{
    transform:scale(1.05);
    background:rgba(255,255,255,.15);
}

.day-card h4{
    margin-bottom:10px;
    color:#7dd3fc;
}

.day-card span{
    font-size:34px;
    display:block;
    margin:10px 0;
}

.day-card p{
    font-size:16px;
    font-weight:bold;
}

@media(max-width:850px){

    .stats{

        grid-template-columns:repeat(2,1fr);
    }

    .forecast{

        grid-template-columns:repeat(3,1fr);
    }

}

@media(max-width:550px){

    .forecast{

        grid-template-columns:repeat(2,1fr);
    }

    .stats{

        grid-template-columns:1fr;
    }

    .temperature h1{

        font-size:60px;
    }

}